{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'base/style.css' %}">
</head>
<body>
    <div class="header">
        Find My Weather
    </div>
    <!-- <div class="flex-container-1">
        <div class="form" id="form">
        <form id="form" method="post">
            {% csrf_token %}
            {{form.name}}
            <button class="input-btn">Add City</button>
        </form>
        </div>
        {% for weather in weather_data %}
        <div id="display">
            <div class="image-container">
            <img  class = "weather--img" src="http://openweathermap.org/img/w/{{ weather.icon }}.png">
            </div>
            <div class="info">
                <p class="city--name">{{weather.city}}</p>
                <p class="city--temp">Temperature :{{weather.temperature}} </p>
                <p class="city--weather">Weather: {{weather.description}} </p>
            </div>
            
        </div>
        {% endfor %}
    </div> -->
    <div class="body">
        <div class="form">
            <form method="post">
                {% csrf_token %}
                {{form.name}}
                <button class="submit-btn">Add city</button>
            </form>
        </div>
        {% for weather in weather_data%}
        <div class="weather">
            <div class="image-container">
                <img class="weather--img" src="http://openweathermap.org/img/w/{{ weather.icon }}.png">
            </div>
            <div class="info">
                <p class="city--name">
                    {{weather.city}}
                </p>
                <p class="city--temp">
                    {{weather.temperature}}° F
                </p>
                <p class="city--weather">
                    {{weather.description}}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    <footer>Created by jayanth-parthsarathy © 2023</footer>
</body>
</html>